.container {
  padding: 40px;
  background-color:black;
}

.heading {
  font-size: 36px;
  text-align: center;
  color: #1e3a8a; /* Tailwind's blue-900 */
  margin-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
}
